<div class="show_container">
    <%= form_for @article do |f| %>
      Title<%= f.text_field :title %><br>
      Content<%= f.text_area :content%><br>
      Preview<div class="preview"></div><br>
      Image Link<%= f.text_field :image_link %><br>
      <input type="text" name="Code"><br>
      <%= f.submit "Add Blog" %>
  <% end %>
</div>
